@model WEB_UI.Models.Sedes

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div class="d-flex justify-content-between">
    <a asp-action="Lista" class="btn btn-outline-success text-success mr-auto" style="text-decoration: none;">Regresar</a>
    <div class="mx-auto">
        @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-outline-success text-success", style = "text-decoration: none;" })
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detalles de la Sede</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Foto:</dt>
                <dd class="col-sm-9">
                    <img src="@Model.Foto" class="img-fluid" alt="Foto de la sede" />
                </dd>

                <dt class="col-sm-3">Nombre de la Sede:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NombreSede)</dd>

                <dt class="col-sm-3">Descripción:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt class="col-sm-3">Fecha de Creación:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCreacion)</dd>

                <dt class="col-sm-3">Provincia:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Provincia)</dd>

                <dt class="col-sm-3">Cantón:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Canton)</dd>

                <dt class="col-sm-3">Distrito:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Distrito)</dd>

                <dt class="col-sm-3">Otras Señas:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.OtrasSeñas)</dd>

                <dt class="col-sm-3">Ubicación:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Ubicacion)</dd>
            </dl>
        </div>
    </div>
</div>







