@model IEnumerable<WEB_UI.Models.Sedes>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

<div class="text-center mt-3 mx-15">
    <p>
        <a class=" btn btn-outline-success my-2 my-sm-0" asp-action="Crear">Crear nueva sede</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            
            <td>
                    <a class="btn btn-sm btn-outline-success" asp-controller="Administrador" asp-action="Detalles" asp-route-NombreSede="@item.NombreSede"><i class="bi bi-eye"></i></a>
                    <button class="btn btn-sm btn-success"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>
