@model WEB_UI.Models.Cita

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div class="mt-3 text-left">
    <a asp-action="Lista" class="btn btn-outline-success">Volver a la lista</a>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles de la Cita</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Fecha:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Fecha)</dd>

            <dt class="col-sm-3">Hora de inicio:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Inicio)</dd>

            <dt class="col-sm-3">Hora de fin:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Fin)</dd>

            <dt class="col-sm-3">Paciente:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Paciente)</dd>

            <dt class="col-sm-3">Médico:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Medico)</dd>

            <dt class="col-sm-3">Especialidad:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Especialidad)</dd>

            <dt class="col-sm-3">Pago de la Cita:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PagoCita)</dd>

            <dt class="col-sm-3">Precio:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Precio)</dd>

            <dt class="col-sm-3">Estado:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Estado)</dd>
        </dl>
        <div class="mt-3 text-center">
            @Html.ActionLink("Editar", "Editar", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-outline-success ml-2" })
        </div>
    </div>
</div>



